.container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /* min-width: 295px;
  height: 345px; */
  box-shadow: 0px 2px 10px rgba(10, 10, 10, 0.25);
  border-radius: 6px;
  padding: 24px;
}
